*{
    margin:0;
    padding:0;
}
body{
    background-color: white;
    overflow: hidden;
}
/* To Do Tasks Widget */
#todo{
    min-width: 200px;
    max-width:300px;
    min-height:200px;
    max-height: 300px;
    background-color: bisque;
    border-radius: 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin:5px;
}
#todo h1{
    margin:5px;
    font-size: 2.5em;
}
#todo p{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin:10px;
    padding:3px;
}
/* Time Widget on the bottom left of the "screen" */
#time{
    background-color: rgb(105, 171, 229);
    min-width:300px;
    min-height:200px;
    max-width:400px;
    max-height: 300px;
    position: fixed;
    bottom: 3%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#hotbar{
    position:fixed;
    bottom:0%;
    width:100%;
    height:3%;
    background-color: black;
}

/* Main widget container on the right side of the "desktop scren" */
#widgets{
    background-color: antiquewhite; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    right:0;
    bottom:25%;
    width:40%;
    height:25%;
    gap:20px;
    padding:10px;
}

/* Widgets inside the widget contianer */
.widgets{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 40%;
    background-color: aliceblue;
    border-radius: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    padding:1%;
    
}
